# BRATS Datset
Cascaded Model/BRATS Data/dataset/train/
Cascaded Model/BRATS Data/dataset/test/
Cascaded Model/BRATS Data/dataset/valid/

Cascaded Model/BRATS Data/saved models/Step 1
Cascaded Model/BRATS Data/saved models/Step 2


# Synthetic Datset
Cascaded Model/Synthetic Data/dataset/syntheticDataset.hdf5
Cascaded Model/Synthetic Data/dataset/0/
Cascaded Model/Synthetic Data/dataset/1/

Cascaded Model/Synthetic Data/saved models/Step 1
Cascaded Model/Synthetic Data/saved models/Step 2
